<ion-header>
  <ion-toolbar>
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="exchange-rate-container">
    <h2>Taxas de Câmbio</h2>
    <p>Base: {{ baseCurrency }}</p>
    
    <ion-list>
      <ion-item *ngFor="let currency of exchangeRates | keyvalue">
        <ion-label>
          {{ currency.key }}: {{ currency.value }}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="amount" min="0" placeholder="Digite o valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Moeda de Destino</ion-label>
      <ion-select [(ngModel)]="targetCurrency">
        <ion-select-option *ngFor="let currency of exchangeRates | keyvalue" [value]="currency.key">
          {{ currency.key }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="convert()" [disabled]="!amount || amount <= 0 || !targetCurrency">Converter</ion-button>

    <div *ngIf="conversionResult !== undefined">
      <h3>Resultado: {{ conversionResult | number:'1.2-2' }} {{ targetCurrency }}</h3>
    </div>
    
    <div *ngIf="errorMessage" style="color: red;">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</ion-content>
